
// Use border-box for everything
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// Resets margins and paddings for headers, ul, ol and p
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
blockquote {
  margin: 0;
  padding: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
}

// Removes all decimals and discs from li
li {
  list-style: none;
}

table td {
  border: 1px solid color(w);
}

img {
  max-width: 100%;
  height: auto;
}

.img--small {
  max-width: 55%;
  margin-left: auto;
  margin-right: auto;
}